---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import AboutMeSection from "@components/sections/AboutMeSection.astro";
import ContactSection from "@components/sections/ContactSection.astro";
import HeroSection from "@components/sections/HeroSection.astro";
import SelectedWorkSection from "@components/sections/SelectedWorkSection.astro";
import ServicesSection from "@components/sections/ServicesSection.astro";
import WorkSection from "@components/sections/WorkSection.astro";
import WritingSection from "@components/sections/WritingSection.astro";
import Layout from "@layouts/Layout.astro";
---

<style>
  section {
    @apply mt-20 md:mt-32;
  }

  @media screen(md) {
    .contact-bg {
      border: solid 1px rgba(var(--border));
      background-image: radial-gradient(
          circle at -14%,
          rgb(var(--bg-radial-color-1)) 0,
          transparent 39%
        ),
        radial-gradient(
          circle at 120%,
          rgb(var(--bg-radial-color-2)) 0,
          transparent 74%
        );
    }
  }
</style>

<Layout title="Johannes Maendle - Fullstack JavaScript Developer">
  <div
    style={{
      backgroundImage:
        "radial-gradient(circle at 0 0, rgb(var(--bg-radial-color-1)), rgba(182, 89, 255, 0) 14%)",
    }}
  >
    <div
      class="flex flex-col gap-20 md:gap-32 px-4 sm:px-8 md:max-w-4xl lg:max-w-5xl mx-auto"
    >
      <Header />

      <div class="relative overflow-hidden">
        <HeroSection />
        <ServicesSection />
      </div>
    </div>

    <div
      style={{
        backgroundImage:
          "radial-gradient(circle at 50% 50%, rgb(var(--bg-radial-color-2)), rgba(182, 89, 255, 0) 85%)",
        backgroundPosition: "center",
        backgroundSize: "cover",
      }}
    >
      <div class="px-4 sm:px-8 md:max-w-4xl lg:max-w-5xl mx-auto">
        <section class="link-section">
          <a id="work"></a>
          <SelectedWorkSection />
        </section>

        <section class="link-section">
          <a id="about"></a>
          <AboutMeSection />
        </section>

        <section class="link-section">
          <a id="articles"></a>
          <WritingSection />
        </section>

        <section class="link-section">
          <WorkSection />
        </section>

        <section class="link-section py-8 contact-bg">
          <a id="contact"></a>
          <ContactSection />
        </section>
      </div>
    </div>

    <Footer />
  </div>
</Layout>
