---
import Header from "@components/Header.astro";
import ContactSection from "@components/sections/ContactSection.astro";
import HeroSection from "@components/sections/HeroSection.astro";
import SelectedWorkSection from "@components/sections/SelectedWorkSection.astro";
import WorkSection from "@components/sections/WorkSection.astro";
import WritingSection from "@components/sections/WritingSection.astro";
import Layout from "@layouts/Layout.astro";
---

<style>
  section {
    @apply mt-20 md:mt-32;
  }
</style>

<Layout title="Johannes Maendle - Fullstack JavaScript Developer">
  <div
    style={{
      backgroundImage:
        "radial-gradient(circle at 0 0, rgb(var(--bg-radial-color-1)), rgba(182, 89, 255, 0) 14%)",
    }}
  >
    <div
      class="flex flex-col gap-20 md:gap-32 px-4 sm:px-8 md:max-w-5xl mx-auto"
    >
      <Header />

      <div class="relative overflow-hidden">
        <HeroSection />
      </div>
    </div>

    <div
      style={{
        backgroundImage:
          "radial-gradient(circle at 50% 50%, rgb(var(--bg-radial-color-2)), rgba(182, 89, 255, 0) 85%)",
        backgroundPosition: "center",
        backgroundSize: "cover",
      }}
    >
      <div class="px-4 sm:px-8 md:max-w-5xl mx-auto">
        <section>
          <a id="work"></a>
          <SelectedWorkSection />
        </section>

        <section>
          <a id="articles"></a>
          <WritingSection />
        </section>

        <section>
          <WorkSection />
        </section>

        <section>
          <a id="contact"></a>
          <ContactSection />
        </section>
      </div>
    </div>
  </div>
</Layout>
