---
import Header from "@components/Header.astro";
import ContactSection from "@components/sections/ContactSection.astro";
import HeroSection from "@components/sections/HeroSection.astro";
import SelectedWorkSection from "@components/sections/SelectedWorkSection.astro";
import WritingSection from "@components/sections/WritingSection.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Johannes Maendle - Fullstack JavaScript Developer">
  <div
    style={{
      backgroundImage:
        "radial-gradient(circle at 0 0, rgb(var(--bg-radial-color-1)), rgba(182, 89, 255, 0) 14%)",
    }}
  >
    <div
      class="flex flex-col gap-20 md:gap-32 px-4 sm:px-8 md:max-w-6xl mx-auto"
    >
      <Header />

      <div class="relative">
        <HeroSection />
      </div>
    </div>

    <div
      style={{
        backgroundImage:
          "radial-gradient(circle at 50% 50%, rgb(var(--bg-radial-color-2)), rgba(182, 89, 255, 0) 50%)",
        backgroundPosition: "center",
        backgroundSize: "cover",
      }}
    >
      <div
        class="flex flex-col gap-20 md:gap-32 px-4 sm:px-8 md:max-w-6xl mx-auto mt-32"
      >
        <SelectedWorkSection />

        <WritingSection />

        <ContactSection />
      </div>
    </div>
  </div>
</Layout>
