---
import AboutMeItem from "@components/AboutMeItem.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { Image } from "astro:assets";
import me from "../../assets/jo.png";
---

<div class="flex flex-col items-center gap-8 fade-in-card">
  <div class="self-start">
    <SectionTitle> About Me </SectionTitle>
  </div>

  <div
    class="transparent-card p-4 flex flex-col sm:grid grid-cols-3 gap-6 w-full"
  >
    <Image
      class="rounded-full object-contain w-36 h-36 border-2 shadow-md border-border brightness-[0.8] self-center justify-self-center"
      src={me}
      width={500}
      height={500}
      quality={90}
      alt="Jo Maendle"
    />

    <div class="text-secondary flex flex-col gap-4 md:max-w-lg col-span-2">
      <p>
        I'm a full-stack JavaScript/TypeScript developer based in Bremen,
        Germany, with over 5 years of experience building reliable web
        applications. While I specialize in Angular and NX, I’ve also worked
        with frameworks like Astro and Next.js.
      </p>
      <p>
        I enjoy creating efficient and user-friendly solutions, and I share my
        knowledge by writing articles online about web development.
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-8 lg:grid grid-cols-3">
    <AboutMeItem title="Key Skills" iconName="clarity:code-line">
      <div class="flex flex-wrap gap-2">
        {
          [
            "JavaScript",
            "TypeScript",
            "Angular",
            "NX",
            "Astro",
            "Next.js",
            "HTML5",
            "CSS3",
            "RESTful APIs",
            "Git",
            "ESLint",
            "Unit & E2E Testing",
            "User Experience",
            "Responsive Design",
          ].map((skill) => (
            <div class="py-1 px-2.5 rounded-full text-sm bg-gray-100/10">
              {skill}
            </div>
          ))
        }
      </div>
    </AboutMeItem>

    <div class="col-span-2">
      <AboutMeItem
        title="Experience Highlights"
        iconName="clarity:briefcase-line"
      >
        <ul class="list-disc list-outside space-y-2 text-secondary ml-4">
          <li>
            Developed and maintained large-scale web applications using Angular
            and NX (more than 1m-10m users)
          </li>
          <li>
            Implemented responsive, delightful and cross-browser user interfaces
            with performance in mind
          </li>
          <li>
            Utilized Astro for building fast, content-focused websites (like the
            one you're currently viewing)
          </li>
          <li>
            Created server-side rendered applications with Next.js for improved
            SEO and performance
          </li>
          <li>
            Collaborated with cross-functional teams to deliver high-quality web
            solutions in international environments
          </li>
        </ul>
      </AboutMeItem>
    </div>
  </div>
</div>
