---
import DotBackground from "@components/ui/DotBackground.astro";
import Button from "../ui/Button.astro";
import Card from "../ui/Card.astro";
import SectionTitle from "../ui/SectionTitle.astro";

const items = [
  {
    title: "Web Development",
    subtitle: "Web development is",
  },
  {
    title: "Web Development",
    subtitle: "Web development is",
  },
  {
    title: "Web Development",
    subtitle: "Web development is",
  },
];
---

<DotBackground />
<div class="flex flex-col gap-12 max-w-2xl">
  <div class="flex flex-col gap-4">
    <h1 class="font-medium text-[40px] leading-[44px]">
      Enterprise-grade web development for your business.
    </h1>

    <p class="">
      Expert in developing large-scale, responsive enterprise applications using
      Angular and NX. Focused on delivering high-performance, accessible
      solutions with outstanding user experience.
    </p>
  </div>

  <div class="flex gap-4">
    <Button size="medium" variant="secondary"> Work Together </Button>
    <Button size="medium" variant="tertiary"> Get in contact </Button>
  </div>
</div>

<div class="flex flex-col gap-6 mt-20 md:mt-28">
  <SectionTitle>How I Can Help You</SectionTitle>

  <div
    class="md:flex sm:gap-8 gap-4 flex flex-col md:flex-row sm:grid grid-cols-2"
  >
    {
      items.map((i) => {
        return (
          <Card title={i.title} subtitle={i.subtitle}>
            <div class="flex gap-2 pt-8">
              <a href="#" class="text-blue-500 flex-1">
                Learn more
              </a>{" "}
              &rarr;
            </div>
          </Card>
        );
      })
    }
  </div>
</div>
