---
import DotBackground from "@components/ui/DotBackground.astro";
import Button from "../ui/Button.astro";
---

<DotBackground
  classes="-top-[80px] max-h-[1200px] md:max-h-[1200px]  lg:max-h-[880px]"
/>
<div class="flex flex-col gap-12 max-w-2xl">
  <div class="flex flex-col gap-4 text-center md:text-left">
    <h1
      class="font-medium text-[40px] leading-[44px] max-w-[400px] md:max-w-none mx-auto md:mx-0"
    >
      JS-powered
      <span class="text-blue-500/80 whitespace-nowrap"> Full-Stack </span>
      Engineering
    </h1>

    <p class="max-w-[400px] mx-auto md:max-w-none md:mx-0">
      Creating seamless, scalable, and user-driven applications for modern
      businesses.
    </p>
  </div>

  <div class="flex gap-4 justify-center md:justify-start">
    <a href="#contact">
      <Button size="medium" variant="secondary"> Get in contact </Button>
    </a>

    <a href="#work">
      <Button size="medium" variant="tertiary"> Explore Work </Button>
    </a>
  </div>
</div>
