---
import { getCollection } from "astro:content";
import SelectedWorkItem from "../SelectedWorkItem.astro";
import SectionTitle from "../ui/SectionTitle.astro";

const workItems = await getCollection("projects");
type WorkItem = (typeof workItems)[0];

function getMonthAndYear(date: string | undefined) {
  if (!date) {
    return null;
  }

  const d = new Date(date);
  return (
    d.toLocaleString("default", { month: "short" }) + " " + d.getFullYear()
  );
}
---

<div class="flex flex-col gap-8">
  <SectionTitle> Selected Work </SectionTitle>

  <div class="flex flex-col gap-16">
    {
      workItems.map((i: WorkItem) => (
        <SelectedWorkItem
          item={i}
          style={{
            backgroundImage:
              "radial-gradient(circle at 100% 100%, rgb(var(--bg-radial-color-1)), rgba(182, 89, 255, 0) 50%)",
            backgroundPosition: "center",
            backgroundSize: "cover",
          }}
        />
      ))
    }
  </div>
</div>
