---
import DotBackground from "@components/ui/DotBackground.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

function getLocalDate(date: string) {
  const d = new Date(date);
  return d.toLocaleDateString("default", {
    month: "short",
    day: "numeric",
    year: "numeric",
  });
}
---

<div class="flex flex-col gap-8 relative">
  <div class="relative -top-[40px] overflow-hidden">
    <DotBackground />
  </div>
  <SectionTitle> Writing </SectionTitle>

  <div class="flex flex-col lg:grid grid-cols-2 gap-4 lg:gap-6">
    {
      posts.map((post) => (
        <a
          href={post.data.link}
          target="_blank"
          class="flex flex-col gap-3 p-4 transparent-card fade-in-card"
        >
          <h2 class="text-xl leading-7 font-extrabold flex-1 line-clamp-2">
            {post.data.title}
          </h2>
          <div class="flex text-secondary">
            <p class="flex-1">{post.data.platform}</p>
            <p class="text-sm">{getLocalDate(post.data.date)}</p>
          </div>
        </a>
      ))
    }
  </div>
</div>
