---
import Header from "@components/Header.astro";
import HeroSection from "@components/HeroSection.astro";
import SelectedWorkSection from "@components/SelectedWorkSection.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col gap-20 px-8 md:max-w-6xl mx-auto">
    <Header />

    <HeroSection />

    <SelectedWorkSection />
  </div>
</Layout>
