<footer>
  <div class="flex flex-col gap-4 items-center py-8">
    <p class="text-secondary text-sm">
      © {new Date().getFullYear()} Jo Maendle
    </p>
    <p class="text-secondary text-xs">
      Built with Astro, Tailwind CSS, and &#9829;
    </p>
  </div>
</footer>
