---

---

<header class="flex gap-4 items-center py-6">
  <p class="flex flex-1 gap-4">
    <span class="text-xl">Johannes Maendle</span>
  </p>

  <nav class="flex items-center gap-6">
    <a href="/">Work</a>
    <a href="/about">Articles</a>
    <a href="/about">Contact</a>
  </nav>
</header>

<!-- <LanguagePicker /> -->
<!-- <ThemeToggle /> -->
