---
import MobileMenu from "./MobileMenu.astro";
---

<style>
  .fade-in {
    animation: fadeIn 0.3s ease-in;
  }

  @keyframes fadeIn {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<header class="flex flex-col sm:flex-row gap-4 items-center py-6">
  <p class="flex flex-1 gap-4">
    <span class="text-xl">Johannes Maendle</span>
  </p>

  <nav id="menu" class="flex items-center sm:gap-6 gap-10 transition-none">
    <a href="#work">Work</a>
    <a href="#articles">Articles</a>
    <a href="#contact">Contact</a>
  </nav>

  <MobileMenu />
</header>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const menu = document.getElementById("mobile-menu");

  gsap.set(menu, { y: "50%", autoAlpha: 0, scale: 0.8 });

  gsap.to(menu, {
    y: 0,
    scale: 1,
    autoAlpha: 1,
    duration: 0.3,
    scrollTrigger: {
      trigger: menu,
      start: "120px top",
      scrub: 1,
    },
  });
</script>

<!-- <LanguagePicker /> -->
<!-- <ThemeToggle /> -->
