---
import { Image } from "astro:assets";
import me from "../assets/jo.jpg";
import LanguagePicker from "./LanguagePicker.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex gap-4 items-center py-6">
  <div class="flex-1 flex gap-4 items-center">
    <Image
      class="bg-gray-300 rounded-full h-12 w-12"
      src={me}
      alt="Johannes Maendle"
    />
    <p class="flex gap-4">
      <span class="font-bold">Johannes Maendle</span>
      <span class="text-secondary">Bremen, DE</span>
    </p>
  </div>

  <LanguagePicker />
  <ThemeToggle />
</header>
