---
import Button from "./ui/Button.astro";
import Card from "./ui/Card.astro";
import SectionTitle from "./ui/SectionTitle.astro";

const items = [
  {
    title: "Web Development",
    subtitle: "Web development is",
  },
  {
    title: "Web Development",
    subtitle: "Web development is",
  },
  {
    title: "Web Development",
    subtitle: "Web development is",
  },
];
---

<div class="flex flex-col gap-16">
  <h1 class="font-bold text-4xl">
    Building for the web. <br />
  </h1>

  <div>
    <Button size="medium" variant="secondary"> Get started </Button>
  </div>
</div>

<div class="flex flex-col gap-6">
  <SectionTitle>How I Can Help You</SectionTitle>

  <div class="md:flex md:gap-8 gap-4 grid grid-cols-2">
    {
      items.map((i) => {
        return (
          <Card title={i.title} subtitle={i.subtitle}>
            <div class="flex gap-2 pt-8">
              <a href="#" class="text-blue-500 flex-1">
                Learn more
              </a>{" "}
              &rarr;
            </div>
          </Card>
        );
      })
    }
  </div>
</div>
