---

---

<style>
  nav > a {
    z-index: 50;
  }
</style>

<nav
  id="mobile-menu"
  class="sm:hidden flex items-center sm:gap-6 gap-10 mx-auto fixed p-4 top-8 bg-black/60 backdrop-blur-lg z-50 w-[calc(100%-4rem)] justify-center rounded-full border left-0 right-0 border-border"
>
  <a href="#work">Work</a>
  <a href="#articles">Articles</a>
  <a href="#contact">Contact</a>
</nav>
