---

---

<style>
  .nav-item {
    @apply py-2 px-4 rounded-full transition-colors duration-500 z-50;
  }

  .nav-item.active {
    @apply bg-white/10;
  }
</style>

<nav
  id="mobile-menu"
  class="flex opacity-0 items-center gap-1 py-1 mx-auto fixed text-sm top-8 bg-black/60 backdrop-blur-lg z-40 w-[calc(100%-2rem)] sm:w-96 justify-center rounded-full border left-0 right-0 border-border"
>
  <a href="#work" class="nav-item">Work</a>
  <a href="#about" class="nav-item">About</a>
  <a href="#articles" class="nav-item">Articles</a>
  <a href="#contact" class="nav-item">Contact</a>
</nav>

<script src="../utils/nav-scroll.ts"></script>
