---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div
  class="bg-backgroundLifted p-6 flex flex-col rounded-xl w-full group hover:scale-[1.01] cursor-pointer transition-all hover:shadow-lg"
>
  <p class="text-sm text-secondary">{subtitle}</p>
  <h1 class="text-lg leading-6 sm:text-2xl font-bold text-primary mt-1 flex-1">
    {title}
  </h1>
  <div>
    <slot />
  </div>
</div>
